{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_animals.css"/>
    <link rel="icon" href="/static/img/4Jolot3.png/">
</head>
<body>
    <header>
        <h1><u>Animales</u></h1>
    </header>
    <hr>
    <div class="carrusel">
        <div class="elemento">
            <img src="{% static '/img/4Jolot3.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="4Jolot3">
                <button type="submit" class="boton">Ajolote</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/C4reY.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="C4reY">
                <button type="submit" class="boton">Tortuga Carey</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/L1nC3.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="L1nC3">
                <button type="submit" class="boton">Lince</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/L3MUr.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="L3MUr">
                <button type="submit" class="boton">Lemur</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/Mar1p0s4.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="Mar1p0s4">
                <button type="submit" class="boton">Mariposa</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/p0l4r.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="p0la4r">
                <button type="submit" class="boton">Oso Polar</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/P4nD4.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="P4nD4">
                <button type="submit" class="boton">Panda</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/P4ngol1n.png' %}" width="200px" height="200">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="P4ngol1n">
                <button type="submit" class="boton">Pangolín</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/R1No.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="R1No">
                <button type="submit" class="boton">Rinoceronte</button>
            </form>
        </div>
        <div class="elemento">
            <img src="{% static '/img/Tigr3.png' %}" width="200px" height="250">
            <form action="/buscar/" method="get">
                <input type="hidden" name="code" value="Tigr3">
                <button type="submit" class="boton">Tigre</button>
            </form>
        </div>
    </div>
</body>
</html>