<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_animals.css"/>
    <link rel="icon" href="/static/img/ajolote.png/">
</head>
<body>

    <div id="container_animales">
        <header>
            <h1>ANIMALES</h1>
        </header>
    
        <nav>
            <li><a href="..">Atras</a></li>
        </nav>

    </div>
</body>
</html>