<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators</title>
    <link rel="stylesheet" href="/static/css/style_creators.css"/>
</head>
<body>
    <header>
        <h2><u>CREATORS</u></h2>
    </header>
    
    <div id="container_creators">
        <nav>
            <enlace>
                <button id="regresar">Regresar</button>

                <script>
                    document.getElementById('regresar').addEventListener('click', function() {
                        window.history.back();
                    });
                </script>
            </enlace>
            
            <ul>
                <li>-Ricardo Mendoza</li>
                <li>-Felipe Muñoz</li>
                <li>-Barbara Ojeda</li>
                <li>-Martín Aranda</li>
            </ul>
        </nav>
        
    </div>
</body>
</html>