<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_dentro.css"/>
</head>
<body>
    
    <div class="cuadrado1"></div>
    
    <div class="cuadrado2"></div>
    
    <div class="cuadrado3"></div>
    
    <div class="cuadrado4"></div>
    
    <div class="cuadrado5"></div>
    
    <div class="rectangulo"></div>

    <div class="texto-animales">
        <li><a href="info/" class="href">Animales</a></li>
    </div>
    
    <div class="texto-creadores">
        <li><a href="creators/" class="href">Creadores</a></li>
    </div>
    
    <div class="texto-canjea"> 
        <li><a href="settings/" class="href">Ajustes</a></li>
    </div>
    
    <div class="texto-cerrar">
        {% if request.user.is_authenticated %}
        <h6>Bienvenido @{{ user.username | upper }}</h6>
        <br><br>
        <li><a href="logout/">Logout</a></li>
        {% else %}
        <li><a href="login/">Login</a></li>
        {% endif %}
    </div>

</body>
</html>