<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_dentro.css"/>
</head>
<body>
    <div class="cuadrado1"></div>
    <div class="cuadrado2"></div>
    <div class="cuadrado3"></div>
    <div class="cuadrado4"></div>
    <div class="cuadrado5"></div>
    <div class="rectangulo"></div>
    <div class="texto-animales"> Animales</div>
    <div class="texto-creadores"> Creadores</div>
    <div class="texto-canjea"> Canjee el código alfanumérico.</div>
    <div class="texto-cerrar"> Cerrar sesion </div>

</body>
</html>