
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡TeamaGochi!</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/img/ajolote.png/">
</head>
<body>

    <div id="container">

        <header>
            <h1>TeamaGochi</h1>
        </header>
        
        <nav>
            <ul>
                    {% if request.user.is_authenticated %}
                    Bienvenido @{{ user.username | upper }}
                <br>
                <br>
                <log>
                    <li><a href="logout/">Logout</a></li>
                    {% else %}
                    <li><a href="login/">Login</a></li>
                    {% endif %}
                </log>    
                <creadores>
                    <li><a href="creators/">Creators</a></li>
                </creadores>

                <sett>
                    <li><a href="settings/">Settings</a></li>
                </sett>
                
                <info>
                    <li><a href="info/">Animals</a></li>
                </info>
                
                
            </ul>
        </nav>
        
    </div>
    <nav class="cerrar"> 
        <enlace>
            <a href="/">CERRAR SESIÓN</a>
        </enlace>
    </nav>
</body>
</html>