
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡TeamaGochi!</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

    <div id="container">

        <header>
            <h1>¡TeamaGochi!</h1>
        </header>
        
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                {{ user.username | upper }}, welcome.
                <li><a href="logout/">Logout</a></li>
                {% else %}
                <li><a href="">Login</a></li>
                {% endif %}
                <li><a href="creators/">Creators</a></li>
                <li><a href="settings/">Settings</a></li>
                <li><a href="info/">Animals</a></li>
                <li><a href= "formulario/">Formulario</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>

