
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡TeamaGochi!</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/img/4Jolot3.png">
</head>
<body>

    <div id="container">

        <header>
            <h1>TeamaGochi</h1>
        </header>
        
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                Bienvenido @{{ user.username | upper }}
                <br>
                <br>
                <log>
                    <a href="logout/">Cerrar sesión</a>
                    {% else %}
                    <a href="login/">Login</a>
                    {% endif %}
                </log>    
                <creadores>
                    <a href="creators/">Creadores</a>
                </creadores>

                <sett>
                    <a href="settings/">Canjea tu código</a>
                </sett>
                
                <info>
                    <a href="info/">Animales</a>
                </info>
                
                
            </ul>
        </nav>
        
</body>
</html>