<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_inicio.css"/>
</head>
<body>
    <div class="rectangulo-superior"></div>
    <div class="cuadrado1"></div>
    <div class="cuadrado2"></div>
    <div class="cuadrado3"></div>
    <div class="cuadrado4"></div>
    <div class="cuadrado5"></div>
    <div class="texto-titulo"> Teamagochi</div>
    <div class="texto-registro"> Registro</div>
    <div class="texto-sesion"> Iniciar sesión</div>
    <div class="texto-somos"> ¿Quiénes somos? </div>
</body>
</html>