<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Teamagochi!</title>
    <link rel="stylesheet" href="/static/css/style_inicio2.css"/>
    <link rel="icon" href="/static/img/ajolote.png/">
</head> 
<body>
    <div class="wrapper">
        <h1>¡Teamagochi!<h1>
            <hr><br>
        <h2>
            <form action=""> 
                <div class="texto">
                    <enlace_registro>
                        <a href="register/">Registrate</a>
                    </enlace_registro>                      
                </div>
                <div class="texto">
                    <enlace_inicio_sesion>                        
                        <a href="index/">Iniciar sesión</a>
                        </enlace_inicio_sesion>    
                </div>
                <div class="texto">
                    <enlace>
                        <a href="quienes_somos/">¿Qué es TeamaGochi?</a>    
                    </enlace> 
                     
                </div>
        </h2>    
    </div>

</body>
</html>