<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Teamagochi!</title>
    <link rel="stylesheet" href="/static/css/style_inicio2.css"/>
</head>
<body>
    <div class="wrapper">
        <form action=""> 
            <h1>¡Teamagochi!<h1>
            <div class="texto">
                <enlace_registro>
                    <a href="nada aun">Registrate</a>
                </enlace_registro>                      
             </div>
             <div class="texto">
                <enlace_inicio_sesion>                        
                    <a href="index/">Iniciar sesión</a>
                    </enlace_inicio_sesion>    
            </div>
            <div class="texto">
                <enlace>
                    <li><a href="creators/">¿Quiénes somos?</a></li>    
                </enlace> 
                 
            </div>
    </div>

</body>
</html>