<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/ajolote.png/">
    <title>Datos</title>
    <link rel="stylesheet" href="/static/css/style_recepcion_info.css">
</head>
<body>
    <a href="/index/info"><h2>Atras</h2></a>

    {% if mascota %}
        <div class="wrapper">
        
            <ul>
                {% for nombre in mascota %}
                    <nav class="regresion">
                        <p>
                            <h1>ANIMAL OBTENIDO:
                                <br> 
                                <strong>
                                    {{nombre.animal}}
                                </strong>
                            </h1>
                        </p>
                    </nav>
                    <br>
                    <u>Especie</u>: {{nombre.especie}}
                    <br>
                    <br>
                    <u>Cantidad de animales:</u> {{nombre.cantidad}}
                    <br>
                    <br>
                    <u>Habitat:</u> {{nombre.habitat}}
                    <br>
                    <br>
                    <u>Causa de extinción:</u> {{nombre.causa}}

                    {% endfor %}
                </ul>
            </div>
        <div class="wrapper-image">
            <img src="../static/img/{{query}}.png" alt="foto de prueba">
        </div>
    {% else %}
    <div class="wrapper-text">
        <p>No existe un animal con ese código.</p>
    </div>
    {% endif %}
                
</body>
</html>