<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
    <li><a href="/">Atras</a></li>

    <animalitos_s>
        <p>Animal: <strong>{{query}}</strong></p>
        {% if mascota %}
            <ul>
                {% for nombre in mascota %}
                    <h3><u>{{nombre.animal}}</u></h3>
                    <li>{{nombre.especie}}</li>
                    <li>{{nombre.cantidad}}</li>
                    <li>{{nombre.habitat}}</li>
                    <li>{{nombre.causa}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay animal</p>
        {% endif %}

    </animalitos_s>
</body>
</html>