<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/css/style_registro.css"/>
</head>
<body>
    <div class="cuadrado0"></div>
    <div class="cuadrado1"></div>
    <div class="cuadrado2"></div>
    <div class="cuadrado3"></div>
    <div class="cuadrado4"></div>
    <div class="cuadrado5"></div>
    <div class="cuadrado6"></div>
    <div class="ovalo"></div>
    <div class="texto-titulo"> Registro de cuenta</div>
    <div class="texto-registro"> Por favor, complete el formulario para crear una cuenta en Teamagochi</div>
    <div class="texto-nombre"> Nombre de la cuenta:</div>
    <div class="texto-contraseña"> Contraseña: </div>
    <div class="texto-correo"> Correo electrónico:</div>
    <div class="texto-confirm"> Confirmación de contraseña:</div>
    <div class="texto-leido"> Leído termino y condiciones</div>
    <div class="texto-reg"> Registrarse</div>

</body>
</html>