<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config.</title>
    <link rel="stylesheet" href="/static/css/style_configuracion.css"/>
    <link rel="icon" href="/static/img/4Jolot3.png/">
</head>
<body>
    <div class="texto">
        <back>   
            <a href=".."><h2>Atras</h2></a>
        </back>
    </div>

    <div class="wrapper">
        <h1><u>Canjea tu código</u></h1>

        <br>

        
        <pepecardenas>
            <form id="myForm" action="/buscar/" method="GET" id="return validarFormulario()">
                <h2>Escribe un código alfanumérico:</h2>
                <input type="text" name="code" id="code" placeholder="Ingresa aqui">
                <br><br>
                <input type="submit" value="Buscar" id="submitButton" disabled>
            </form>

            <script>
                function validarFormulario() {
                    var codigo = document.getElementById("code").value;
        
                    if (codigo.trim() === "") {
                        alert("Por favor, ingresa un código antes de enviar el formulario.");
                        return false;
                    }
        
                    return true;
                }
        
                document.getElementById("code").addEventListener("input", function() {
                    var botonBuscar = document.getElementById("submitButton");
                    botonBuscar.disabled = this.value.trim() === "";
                });
            </script>
        </pepecardenas>
    </div>


</body>
</html>