<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config.</title>
    <link rel="stylesheet" href="/static/css/style_settings.css"/>
</head>
<body>
    <header>
        <h1>Configuración</h1>
    </header>

    <div id="container_settings">
        <nav>
            <li><a href="/">Atras</a></li>
        </nav>
        <br></br>
        <pepecardenas>
            <form action="/buscar/" method="GET">
                <h2>Escribe un código alfanumérico:</h2>
                <input type="number" name="code" id="" placeholder="Ingresa aqui">
                <br>
                <input type="submit" value="Buscar">
            </form>
        </pepecardenas>
    </div>

</body>
</html>