<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config.</title>
    <link rel="stylesheet" href="/static/css/style_configuracion.css"/>
    <link rel="icon" href="/static/img/ajolote.png/">
</head>
<body>

    <div class="wrapper">
        <h1><u>Canjea tu código</u></h1>
        <div class="texto">
            <back>   
                <a href="..">Atras</a>
            </back>
        </div>

        <br>

        <pepecardenas>
            <form action="/buscar/" method="GET">
                <h2>Escribe un código alfanumérico:</h2>
                <input type="number" name="code" id="" placeholder="Ingresa aqui">
                <br><br>
                <input type="submit" value="Buscar">
            </form>
        </pepecardenas>
    </div>

</body>
</html>