<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/ajolote.png/">
    <link rel="stylesheet" href="/static/css/style_term_cond.css">
    <title>Term and Conditions</title>
</head>
<body>
    <div class="wrapper">
        <h1><u>Términos y condiciones.</u></h1>
        <div class="texto">
            <ol>
                <li><u>Aceptación de terminos</u></li>
                <p>Al utilizar esta página, usted acepta automáticamente cumplir con estos términos y condiciones. Si no estás de acuerdo con alguna parte de ellos, le recomendamos que no utilice la aplicación.</p>
                <br> 
    
                <li><u>Uso de información:</u></li>
                <p>Usted permite que TeamaGochi almacene su información en una base de datos para poder guardar su progreso.</p>
                <br>
    
                <li><u>Responsabilidad del usuario:</u></li>
                <p>Usted es responsable de mantener la confidencialidad de su información de inicio de sesión y cualquier actividad que ocurra bajo su cuenta. No compartas tus credenciales con terceros.</p>
                <br>
            </ol>
        </div>
    </div>

    <div class="regresion">
        <a href=".." class="">OK</a>
    </div>
</html>
