<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes somos?</title>
    <link rel="icon" href="/static/img/4Jolot3ng/">
    <link rel="stylesheet" href="/static/css/style_wwa.css"/>
</head>
<body>
    <div class="wrapper">
        <h1>¿Qué es TeamaGochi?</h1>
        <br>
        <div class="texto">
            <p>
                ¡Bienvenido a TeamaGochi, tu portal interactivo para descubrir y aprender sobre animales en peligro de extinción! 
            </p>
            <br>
            <p>
                TeamaGochi es tu destino interactivo para explorar el fascinante mundo de los animales en peligro de extinción. A través de canje de códigos alfanuméricos, desbloquearás información detallada sobre diez increíbles especies. Descubre datos sobre hábitats, comportamientos y amenazas, mientras contribuyes directamente a proyectos de conservación con cada código canjeado. Únete a TeamaGochi, donde la educación se combina con la acción para proteger y preservar la diversidad biológica de nuestro planeta. ¡Embárcate en esta emocionante aventura hoy mismo y sé parte del cambio!
            </p>
        </div>
    </div>
    <nav class="cerrar">
        <h2><a href="..">Volver al inicio</a></h2>
    </nav>
</body>
</html>