body{
    background-color: aqua;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 70%;
    margin: 0px auto;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
}
nav enlace a {
    text-decoration: none;
  }
  
nav enlace li {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    text-align: right;
    text-decoration: none;
    background-color: #2E8B57; /* Cambia este color al verde oscuro deseado */
    color: #1337bc; /* Color del texto dentro del botón */
    border: 2px solid #2E8B57; /* Puedes ajustar el grosor del borde */
    border-radius: 5px; /* Ajusta el radio de las esquinas según tu preferencia */
    font-weight: bold; /* Ajusta la fuente según tus preferencias */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */

}
  
  /* Cambia el color de fondo y el texto al pasar el cursor sobre el botón */
nav enlace:hover {
    background-color: #228B22; /* Cambia este color al verde más oscuro al pasar el cursor */
    color: burlywood; /* Cambia el color del texto al pasar el cursor */
}

nav ul li{
    text-align: center;
}