
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(/static/img/fondo_pagina.png) no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

#container{
    width:650px;
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:rgb(205, 27, 27);
    padding: 30px 40px;
    position: absolute; 
    top: 10%;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
    color:rgb(185, 20, 20)
}
h1{
    font-size: 400%
}

nav ul a {
    text-decoration: none;
    align-self: center;
  }
  
nav ul log{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    text-align: center;
    text-decoration: none;
    background-color: #888b2e; /* Cambia este color al verde oscuro deseado */
    color: #1337bc; /* Color del texto dentro del botón */
    border: 2px solid #2E8B57; /* Puedes ajustar el grosor del borde */
    border-radius: 5px; /* Ajusta el radio de las esquinas según tu preferencia */
    font-weight: bold; /* Ajusta la fuente según tus preferencias */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */

}
  
  /* Cambia el color de fondo y el texto al pasar el cursor sobre el botón */
nav ul log:hover {
    background-color: #228B22; /* Cambia este color al verde más oscuro al pasar el cursor */
    color: burlywood; /* Cambia el color del texto al pasar el cursor */
}

nav ul creadores{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    text-align: right;
    text-decoration: none;
    background-color: #888b2e; /* Cambia este color al verde oscuro deseado */
    color: #1337bc; /* Color del texto dentro del botón */
    border: 2px solid #2E8B57; /* Puedes ajustar el grosor del borde */
    border-radius: 5px; /* Ajusta el radio de las esquinas según tu preferencia */
    font-weight: bold; /* Ajusta la fuente según tus preferencias */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
}
  
  /* Cambia el color de fondo y el texto al pasar el cursor sobre el botón */
nav ul creadores:hover {
    background-color: #228B22; /* Cambia este color al verde más oscuro al pasar el cursor */
    color: burlywood; /* Cambia el color del texto al pasar el cursor */
}

nav ul sett{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    text-align: right;
    text-decoration: none;
    background-color: #888b2e; /* Cambia este color al verde oscuro deseado */
    color: #1337bc; /* Color del texto dentro del botón */
    border: 2px solid #2E8B57; /* Puedes ajustar el grosor del borde */
    border-radius: 5px; /* Ajusta el radio de las esquinas según tu preferencia */
    font-weight: bold; /* Ajusta la fuente según tus preferencias */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
}
  
  /* Cambia el color de fondo y el texto al pasar el cursor sobre el botón */
nav ul sett:hover {
    background-color: #228B22; /* Cambia este color al verde más oscuro al pasar el cursor */
    color: burlywood; /* Cambia el color del texto al pasar el cursor */
}

nav ul info{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    text-align: right;
    text-decoration: none;
    background-color: #888b2e; /* Cambia este color al verde oscuro deseado */
    color: #1337bc; /* Color del texto dentro del botón */
    border: 2px solid #2E8B57; /* Puedes ajustar el grosor del borde */
    border-radius: 5px; /* Ajusta el radio de las esquinas según tu preferencia */
    font-weight: bold; /* Ajusta la fuente según tus preferencias */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
}
  
  /* Cambia el color de fondo y el texto al pasar el cursor sobre el botón */
nav ul info:hover {
    
    background-color: #228B22; /* Cambia este color al verde más oscuro al pasar el cursor */
    color: burlywood; /* Cambia el color del texto al pasar el cursor */
}

.cerrar{
    text-decoration: none;
    width:300px;
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    padding: 30px 40px;
    position: absolute;
    bottom: 0; 
    right: 0; 
    margin: 10px;
}