body{
    background: rgb(122, 222, 255);
    font-family: Arial;
    text-align: left;
}

#container_login{
    width: 70%;
    margin: 0px auto;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
}

form{
    text-align: center;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
}