@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

div{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(/static/img/paisaje_pixelart.jpg) no-repeat;
    background-size:cover;
    background-position: right;
    overflow: hidden;
}

nav li{
    text-align: left;
}

.wrapper{
    width:520px;
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:white;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: 50px;
}

.wrapper h1{
    text-align: center;
    font-size:36px

}

.wrapper-image {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 100px;
}

.wrapper-text{
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:white;
    padding: 30px 40px;
    
}

a{
    text-decoration: none;
    width:150px;
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    padding: 20px 30px;
    position: absolute;
    top: 10px; 
    left: 10px; 
    margin: 10px;
    text-align: center;
    justify-content: center;
}

a:visited {
    color:white;
}