 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

div{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(/static/img/fondo2.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

.wrapper{
    width:520px;
    background:transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    color:white;
    padding: 30px 40px;
}

.wrapper h1{
    text-align: center;
    font-size:36px

}

.texto {
    text-align: center;
    width:420px;    
}

a{
    text-decoration: none;
}

a:visited {
    color:white;
}
