@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

div{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

*{
    margin:0;
    padding:0;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(/static/img/paisaje.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    
}

.wrapper{
    width:420px;
    background:transparent;
    border: 2px solid rgb(215, 171, 77);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(215, 171, 77);
    border-radius: 10px;
    color:white;
    padding: 30px 40px;
    position: absolute; 
}

.wrapper h1{
    text-align: center;
    font-size:36px

}

.texto {
    text-align: left;
    width:420px;    
}

.wrapper pepecardenas{
    text-align: center;
    width:420px;

}

.wrapper pepecardenas h2{
    text-align: center;
    width:420px;  
}

a{
    width: 100px;
    
    text-align: center;
    text-decoration: none;
    background:transparent;
    border: 2px solid rgb(160, 215, 77);;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(160, 215, 77);;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    padding: 30px 40px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    margin: 10px; 
}

a:visited {
    color:white;
}

