@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

div{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background:url(/static/img/fondo.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    
}