/*css al entrar en la pagina, al iniciar sesion*/
body{
    background: url(/static/img/otoño.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.cuadrado1{
    position: absolute;
    top: 0%; /* Posiciona el cuadrado en el centro vertical */
    left: 0%; /* Posiciona el cuadrado en el centro horizontal */
    width: 150px; /* Ancho del cuadrado */
    height: 100%; /* Altura del cuadrado */
    background-color: #D68F3B; /* Color de fondo del cuadrado (azul en este ejemplo) */
    transform: translate(0%, 0%); /* Centra el cuadrado correctamente */
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
}
.cuadrado2{
    position: absolute;
    top: 0%; /* Posiciona el cuadrado en el centro vertical */
    left: 89.4%; /* Posiciona el cuadrado en el centro horizontal */
    width: 150px; /* Ancho del cuadrado */
    height: 100%; /* Altura del cuadrado */
    background-color: #D68F3B; /* Color de fondo del cuadrado (azul en este ejemplo) */
    transform: translate(0%, 0%); /* Centra el cuadrado correctamente */
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
}
.cuadrado3{
    position: absolute;
    top: 5%; /* Posiciona el cuadrado en el centro vertical */
    left: 1%; /* Posiciona el cuadrado en el centro horizontal */
    width: 120px; /* Ancho del cuadrado */
    height: 50px; /* Altura del cuadrado */
    background-color: #9A3820; /* Color de fondo del cuadrado (azul en este ejemplo) */
    transform: translate(0%, 0%); /* Centra el cuadrado correctamente */
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
}
.cuadrado4{
    position: absolute;
    top: 88%; /* Posiciona el cuadrado en el centro vertical */
    left: 1%; /* Posiciona el cuadrado en el centro horizontal */
    width: 120px; /* Ancho del cuadrado */
    height: 50px; /* Altura del cuadrado */
    background-color: #9A3820; /* Color de fondo del cuadrado (azul en este ejemplo) */
    transform: translate(0%, 0%); /* Centra el cuadrado correctamente */
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
}
.cuadrado5{
    position: absolute;
    top: 50%; /* Posiciona el cuadrado en el centro vertical */
    left: 41%; /* Posiciona el cuadrado en el centro horizontal */
    width: 320px; /* Ancho del cuadrado */
    height: 100px; /* Altura del cuadrado */
    background-color: #FFE486; /* Color de fondo del cuadrado (azul en este ejemplo) */
    transform: translate(0%, 0%); /* Centra el cuadrado correctamente */
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
}
.rectangulo{
    width: 140px;
    height: 90px;
    background: #9A3820;
    border-bottom-left-radius: 100px;
    z-index: 1; /* Coloca el cuadrado encima de los rectángulos */
    position: absolute;
    top: 5%; /* Posiciona el cuadrado en el centro vertical */
    left: 89.5%; /* Posiciona el cuadrado en el centro horizontal */
}
.texto-animales{
    font-family: 'Times New Roman', Times, serif;
    z-index: 3;
    position:absolute;
    top: 40px; /* Ajusta la posición vertical del texto */
    left: 20px; /* Ajusta la posición horizontal del texto */
    color: #D68F3B;
    font-size: 24px; /* Ajusta el tamaño de fuente del texto (24 píxeles en este ejemplo) */
}
.texto-creadores{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 610px; /* Ajusta la posición vertical del texto */
    left: 20px; /* Ajusta la posición horizontal del texto */
    color: #D68F3B;
    font-size: 24px; /* Ajusta el tamaño de fuente del texto (24 píxeles en este ejemplo) */
}
.texto-canjea{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 350px; /* Ajusta la posición vertical del texto */
    left: 600px; /* Ajusta la posición horizontal del texto */
    color: #D68F3B;
    font-size: 23px; /* Ajusta el tamaño de fuente del texto (24 píxeles en este ejemplo) */
}
.texto-cerrar{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 30px; /* Ajusta la posición vertical del texto */
    left: 1300px; /* Ajusta la posición horizontal del texto */
    color: #FFEA7A;
    font-size: 30px; /* Ajusta el tamaño de fuente del texto (24 píxeles en este ejemplo) */
}