/*css de la pagina para crear sesion*/
body{
    background: url(/static/img/naturaleza.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.cuadrado0{
    position: absolute;
    top: 2.5%; 
    left: 40%; 
    width: 300px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado1{
    position: absolute;
    top: 20%; 
    left: 28%; 
    width: 700px; 
    height: 60px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado2{
    position: absolute;
    top: 30%; 
    left: 8%; 
    width: 600px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado3{
    position: absolute;
    top: 30%; 
    left: 55%; 
    width: 600px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado4{
    position: absolute;
    top: 50%; 
    left: 8%; 
    width: 600px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado5{
    position: absolute;
    top: 50%; 
    left: 55%; 
    width: 600px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado6{
    position: absolute;
    top: 70%; 
    left: 35%; 
    width: 500px; 
    height: 100px; 
    background-color: #DAFFDE; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.ovalo{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: #DAFFDE;
    border-radius: 50%;
    left:1090px ;
    top:500px;
    z-index: 1;
}
.texto-titulo{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 40px; 
    left: 569px; 
    color: black;
    font-weight: bold; 
    font-size: 37px; 
}
.texto-registro{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 140px; 
    left: 420px; 
    color: black;
    font-style: italic;
    font-size: 23px; 
}

.texto-nombre{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 210px; 
    left: 140px; 
    color: #9A3820;
    font-size: 27px; 
}
.texto-contraseña{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 210px; 
    left: 820px; 
    color: #9A3820;
    font-size: 27px; 
}
.texto-correo{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 345px; 
    left: 140px; 
    color: #9A3820;
    font-size: 27px; 
}
.texto-confirm{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 345px; 
    left: 820px; 
    color: #9A3820;
    font-size: 27px; 
}
.texto-leido{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 500px; 
    left: 510px; 
    color: #435961;
    font-size: 27px; 
}
.texto-reg{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 550px; 
    left: 1150px; 
    color: black;
    font-weight: bold; 
    font-size: 30px; 
}