/*css al entrar en la pagina, al iniciar sesion*/
body{
    background: url(/static/img/otoño.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.cuadrado1{
    position: absolute;
    top: 0%; 
    left: 0%; 
    width: 150px; 
    height: 100%; 
    background-color: #D68F3B; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado2{
    position: absolute;
    top: 0%; 
    left: 89.4%; 
    width: 150px; 
    height: 100%; 
    background-color: #D68F3B; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado3{
    position: absolute;
    top: 5%; 
    left: 1%; 
    width: 120px; 
    height: 50px; 
    background-color: #9A3820; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado4{
    position: absolute;
    top: 88%; 
    left: 1%; 
    width: 120px; 
    height: 50px; 
    background-color: #9A3820; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.cuadrado5{
    position: absolute;
    top: 50%; 
    left: 41%; 
    width: 320px; 
    height: 100px; 
    background-color: #FFE486; 
    transform: translate(0%, 0%); 
    z-index: 1; 
}
.rectangulo{
    width: 140px;
    height: 90px;
    background: #9A3820;
    border-bottom-left-radius: 100px;
    z-index: 1; 
    position: absolute;
    top: 5%; 
    left: 89.5%; 
}
.texto-animales{
    font-family: 'Times New Roman', Times, serif;
    z-index: 3;
    position:absolute;
    top: 50px; 
    left: 0px; 
    color: #D68F3B;
    font-size: 24px; 
}
.texto-creadores{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 610px; 
    left: 20px; 
    color: #D68F3B;
    font-size: 24px; 
}
.texto-canjea{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 350px; 
    left: 600px; 
    color: #D68F3B;
    font-size: 23px; 
}
.texto-cerrar{
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    position:absolute;
    top: 30px; 
    left: 1300px; 
    color: #FFEA7A;
    font-size: 30px; 
}