<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_login.css"/>
</head>
<body>
    <div id="container_login">
        <header>
            <h3>¡TeamaGochi! Login</h3>
        </header>
        <br>
        
        <form action="" method="post">
            {% csrf_token %}
                
            <input type="text" name="username" id="" placeholder="Nombre de usuario">
            <br>
            <input type="password" name="password" id="" placeholder="Contraseña">
            <br>
            <button type="submit">Iniciar Sesión</button>
            <br>
        </form>
        
        <nav>
            <ul>
                <li><a href="term-cond/">Terminos y condiciones</a></li>
            </ul>
        </nav>
        
    </div>
</body>
</html>