<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3>¡TeamaGochi! Login</h3>
<br>
<form action="" method="post">
    {% csrf_token %}

    <input type="text" name="username" id="" placeholder="Nombre de usuario">
    <br>
    <input type="password" name="password" id="" placeholder="Contraseña">

    <br>
    <button type="submit">Iniciar Sesión</button>
    <br>
    <br>
    
</form>
    <li><a href="term-cond/">Terms & Condition</a></li>
</body>
</html>